<?php $sbpp_index_loop = $loop + 1; // assigning index according to loop variable.
		$sbpp_data       = get_post_meta( $variation->ID, '_price_acc_to_stock_var' ); // Assigning the post meta data to the variable.
		$sbpp_pricing    = json_decode( $sbpp_data[0], true ); // decoding the data and converting it to array.
		$sbpp_count_data = count( $sbpp_pricing ); // assigning the length of the array. 
        ?>

			<div class="product_custom_field show_if_variation_manage_stock"> 
			<div class="my_stock_div_forVariation" id="my_stock_div_forVariation_<?php echo esc_attr( $sbpp_index_loop ) ?>" >
                  <?php echo esc_html__('Give Price Acc To Stock', 'stock-based-pricing-plugin') ?> <br>
                  
                 
                    <table id="Stock_table_variation_<?php echo esc_attr( $sbpp_index_loop )?> ">
                        <tr> 
                            <th><?php echo esc_html__('Min Quanity', 'stock-based-pricing-plugin') ?> </th>  
                            <th><?php echo esc_html__('Max Quanity', 'stock-based-pricing-plugin') ?> </th>  
                            <th><?php echo esc_html__('Amount', 'stock-based-pricing-plugin') ?></th>  
                            <th><?php echo esc_html__('Action', 'stock-based-pricing-plugin') ?></th> 
                         </tr>


			<!-- $sbpp_index = 1;
		if ( $sbpp_count_data > 0 ) {		
			foreach ( $sbpp_pricing as $key => $value ) {
				$sbpp_minimum_val = $value['Min']; // Assigning the Min value.
				$sbpp_max_value   = $value['Max']; // Assigning the Max value.
				$sbpp_amount      = $value['Amount']; // Assigning the Amount value.			
				<tr><td> <input  type='text' value='<?php echo esc_attr( $sbpp_minimum_val ) . "'  name='Min_Var_<?php echo esc_attr( $variation->ID ) . "[]'  id='Min_Quantity_Var_<?php echo $sbpp_index_loop . $sbpp_index . "'   onkeypress='return AllowOnlyNumbers(event);'/>  </td>  "; // it displays the First td of table when data already exists.
				 <td> <input type='text' value='<?php echo esc_attr( $sbpp_max_value ) . "'  name='Max_Var_" . esc_attr( $variation->ID ) . "[]'   onkeypress='return AllowOnlyNumbers(event);' onblur='validateMaxamount(this,<?php echo $sbpp_index_loop . $sbpp_index . ", -1, ".$loop.")' id='Max_Quantity_Var_" . $sbpp_index_loop . $sbpp_index . "'/>  </td>"; // it displays the Second td of table when data already exists.
				<td> <input type='text' value='<?php echo esc_attr( $sbpp_amount ) . "'  onkeypress='return AllowOnlyNumbers(event);'  name='Amount_Var_<?php echo esc_attr( $variation->ID ) . "[]'  id='Amount_Var_<?php echo $sbpp_index_loop . $sbpp_index . "' />  </td>"; // it displays the Third td of table when data already exists.
				if ( $sbpp_index == 1 ) {				
					 <td> <span  onclick='GenerateNewRow_Variation(<?php echo esc_attr( $loop ) . ", <?php echo esc_attr( $variation->ID ) . ")' ><u> <?php echo esc_html__('Add Row', 'stock-based-pricing-plugin') ." </u> </span> </td> ";
				} else {				
					 <td> <sapn class='delete_row' onclick='DeleteExistingRow(this)'><u><?php echo esc_html__('Delete Row', 'stock-based-pricing-plugin') ." </u></span> </td>  ";
				}
				</tr> 
				$sbpp_index = ++$sbpp_index; // it is used to increase the index value by 1.
			}
		} else {
			<tr><td> <input type='text' name='Min_Var_<?php echo esc_attr( $variation->ID ) . "[]'  onkeypress='return AllowOnlyNumbers(event);' id='Min_Quantity_Var_<?php echo esc_attr( $sbpp_index_loop ) . "1'/>  </td> ";// it is used to display first td when there is no existing data.
			 <td> <input type='text' onkeypress='return AllowOnlyNumbers(event);' name='Max_Var_<?php echo esc_attr( $variation->ID ) . "[]' onblur='validateMaxamount(this,<?php echo $sbpp_index_loop . "1,-1,".$loop.")' onkeypress='return AllowOnlyNumbers(event);' id='Max_Quantity_Var_<?php echo esc_attr( $sbpp_index_loop ) . "1' />  </td>";// it is used to display second td when there is no existing data.
			 <td> <input type='text'   name='Amount_Var_<?php echo esc_attr( $variation->ID ) . "[]'     id='Amount_Var_<?php echo esc_attr( $sbpp_index_loop ) . "1' />  </td>";
			if ( $sbpp_index == 1 ) {
				 <td> <span  onclick='GenerateNewRow_Variation(<?php echo esc_attr( $loop ) . ", <?php echo esc_attr( $variation->ID ) . ")' ><u> <?php echo esc_html__('Add Row', 'stock-based-pricing-plugin') ." </u></span> </td> ";
			} else {
				 <td> <sapn class='delete_row' onclick='DeleteExistingRow(this)'><u> <?php echo esc_html__('Delete Row', 'stock-based-pricing-plugin') ."</u></span> </td>  ";
			}
			 </tr> 
		} -->
		</table></div></div>